[title] {
  color: green;
}
p {
  color: blue;
}

.description ~ section {
  background-color: #fafafa;
}

ul > li {
  font-weight: bold;
}

.highlight {
  background-color: yellow;
}

.highlight:hover {
  background-color: orange;
}

#unique-item {
  font-size: 20px;
}

#intro p {
  color: red;
}

#advanced > p {
  color: red;
}

div p:nth-child(odd)::before {
  content: '✅ ';
}
